<h1>Sign up for a Rainforest User Account</h1>
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div>
			<h2>Wrong inputs = invalid form dude</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div>
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
</div>
<div>
	<%= f.submit class: 'submit' %>
</div>
<% end %>
