<%= form_for @product do |f| %>
	<% if @product.errors.any? %>
		<div>
			<p><%= pluralize(@product.errors.count, "error") %> stopped this product from being saved </p>

			<ul>
			 <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :price_in_cents %>
		<%= f.text_field :price_in_cents %>
	</div>
	<div>
		<ul>
			<%= f.fields_for :categories do |categories_form| %>
				<li>
					<%= categories_form.label :name %>
					<%= categories_form.text_field :name %>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<%= f.submit class: 'submit' %>
	</div>
	<% end %>