<h1><%= "Product #{@product.id}" %></h1>
<div>
	<p> Categories:
		<% @product.categories.each do |category| %>
			<a href="/categories/<%= category.id %>">
				<%= category.name %>
			</a> |
		<% end %>
	</p>
	<p><%= @product.name %></p>
	<p><%= @product.description %></p>
	<p>$<%= @product.cents_to_dollars %></p>
	<p><%= @product.price_in_cents %> cents</p>
</div>

<div>
	<%= link_to "Back", products_path %>
	<%= link_to "Edit Product", edit_product_path(@product) %>
	<%= link_to "Delete Product", product_path(@product), method: :delete, data: {confirm: "You sure you wanna delete this product? It's going to be totally gone you know."} %>
</div>

<div>
	<p>New Review</p>
	<%= render 'reviews/review_form' %>
</div>

<p>Showing all reviews for  <%= @product.name %>. Newest First.</p>
<ul id="review-list">
	<%= render partial: 'reviews/review', collection: @product.reviews.order(created_at: :desc) %>
</ul>

